
<h1> Team <%=  @team[:name] %></h1>
<h2> Team Motto: <%= " " + @team[:motto] %></h2>

<h1> Hero Name: <%=  " " + @hero1[:name] %></h1>
<h2> Hero Power: <%=  " " + @hero1[:power] %></h2>
<h2> Hero Biography: <%=  " " + @hero1[:biography] %></h2>

<h1> Hero Name: <%=  " " + @hero2[:name] %></h1>
<h2> Hero Power: <%= " " + @hero2[:power] %></h2>
<h2> Hero Biography: <%=  " " + @hero2[:biography] %></h2>

<h1> Hero Name: <%=  " " + @hero3[:name] %></h1>
<h2> Hero Power: <%=  " " + @hero3[:power] %></h2>
<h2> Hero Biography: <%=  " " + @hero3[:biography] %></h2>